<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DatabaseM5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DatabaseM5.Properties.Settings.M52024ConnectionString"
            connectionString="Data Source=KUONG;Initial Catalog=M52024;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DatabaseM5.Properties.Settings.ConnectionString" connectionString="Data Source=KUONG;Persist Security Info=True;User ID=kuong;Password=1;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <DatabaseM5.Properties.Settings>
            <setting name="Male" serializeAs="String">
                <value>True</value>
            </setting>
        </DatabaseM5.Properties.Settings>
    </userSettings>
</configuration>
